.home-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .bg-login {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 0;
    object-fit: cover;
    filter: blur(3px);
  }

  .login-wrap {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 10;

    //   filter: blur(2px);
    .login-form {
      width: 60%;
      height: 70%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      background-color: rgb(34, 30, 30);
      border-radius: 12px;
      box-sizing: border-box;
      .login-fields {
        padding: 64px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 50%;
        position: relative;
        box-sizing: border-box;
      }
      .bg-image {
        width: 50%;
        height: 100%;
        object-fit: cover;
        top: 0;
        border-radius: 12px;
      }
      h3 {
        font-size: 32px;
        text-align: center;
        color: #ffc107;
      }
      .login-subhead {
        color: rgb(186, 186, 186);
        font-size: 14px;
        a {
          cursor: pointer;
        }
      }
    }
    .login-button {
      background: linear-gradient(135deg, #f95450, #fa5252);
      color: #ffffff; /* White text */
      border: none;
      padding: 10px 20px;
      font-size: 16px;
      cursor: pointer;
      border-radius: 5px;
      transition: background-color 0.3s ease;
      width: 100%;
      margin: 0;
      &:hover {
        opacity: 0.9;
      }
    }
  }
  .home-part2 {
    background-color: rgba(50, 50, 50, 0.4);
    height: 100vh;
    width: 100%;
    z-index: 10;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    .app-details {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 70%;
      .app-data {
        padding-right: 24px;
        h2 {
          color: #ffc107;
          font-size: 22px;
          font-weight: 700;
        }
        p {
          font-size: 16px;
          line-height: 34px;
          color: white;
        }
        h3 {
          font-size: 18px;
          font-weight: 600;
        }
      }
      .sample-image {
        width: 280px;
        object-fit: cover;
      }
    }
  }
}
@media only screen and (max-width: 660px) {
  .home-container {
    .login-wrap {
      .login-form {
        width: 90%;
        height: 60%;
        .bg-image {
          display: none;
        }
        .login-fields {
          width: 100%;
          input {
            margin-bottom: 24px !important;
          }
        }
      }
    }
    .home-part2 {
      height: unset;
      .app-details {
        flex-direction: column-reverse;
        width: 90%;
        .sample-image {
          width: unset;
        }
        .app-data {
          p {
            text-align: justify;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 860px) and (min-width: 661px) {
  .home-container {
    .login-wrap {
      .login-form {
        width: 90%;
        height: 60%;
        .login-fields {
          width: 100%;
          input {
            margin-bottom: 24px !important;
          }
        }
      }
    }
    .home-part2 {
      height: unset;
      padding-top: 24px;
      .app-details {
        flex-direction: column-reverse;
        width: 90%;
        .sample-image {
          width: unset;
        }
        .app-data {
          p {
            text-align: justify;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 1200px) and (min-width: 861px) {
  .home-container {
    .login-wrap {
      .login-form {
        width: 80%;
        height: 60%;
        .login-fields {
          width: 100%;
          input {
            margin-bottom: 24px !important;
          }
        }
      }
    }
    .home-part2 {
      height: unset;
      padding-top: 24px;
      .app-details {
        flex-direction: column-reverse;
        width: 90%;
        .sample-image {
          width: unset;
        }
        .app-data {
          p {
            text-align: justify;
          }
        }
      }
    }
  }
}
