.home-user-list {
  //   display: flex;
  width: 100%;
  height: 85vh;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-left: 36px;
}
.home-user-list-container {
  display: flex;
  flex-direction: column;
  .no-data-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
  }
  .filter-btns-container {
    margin-right: 50px;
    margin-top: 12px;
    display: flex;
    justify-content: flex-end;
    .filter-btn {
      margin-bottom: 24px;
      margin-left: 12px;
    }
  }
}
.menu-button {
  display: none;
  position: absolute;
  left: 12px;
  top: 12px;
  svg {
    width: 34px;
    height: 34px;
  }
}
.burger-menu {
  position: relative;
  .sidebar {
    display: block;
    width: 100%;
  }
  .burger-close-btn {
    position: absolute;
    right: 12px;
    top: 12px;
    svg {
      width: 120px;
    }
  }
  .profile-photo {
    height: 100vh;
    overflow: hidden;
    border-radius: 0 !important;
  }
}
.sidebar {
  width: 320px;
  margin-right: 24px;

  .profile-photo {
    background-color: #434e5d;
    min-height: 85vh;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 8px;
    padding-top: 36px;
    width: 100%;

    img {
      border-radius: 2px;
      width: 140px;
      height: 140px;
      object-fit: cover;
      border-radius: 50%;
    }
  }

  .my-details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    // background-color: white;
    padding: 12px;
    padding-top: 0;
    border-radius: 8px;
    overflow: hidden;
    width: 100%;
    .my-details-content {
      padding-left: 8px;
      width: 100%;
      height: 80vh;
      overflow-y: scroll;
      padding-top: 23px;
    }

    .profile-details {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-around;
      width: 100%;
      margin-top: 24px;
      .profile-id {
        font-size: 12px;
        padding-top: 0;
        span {
          font-weight: 600;
          svg {
            margin-left: 8px;
            cursor: pointer;
          }
        }
      }
      .home-buttons-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        p,
        svg {
          color: white;
          cursor: pointer;
          &:hover {
            color: rgb(202, 201, 201);
          }
        }
      }
      .border-line {
        height: 0.5px;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.512);
        margin-top: 8px;
        margin-bottom: 8px;
      }
      h5,
      h1 {
        color: white;
        margin: 0;
        padding: 8px;
        font-weight: 500;
      }
      p {
        color: white;
        margin: 0;
        padding: 8px;
      }
      h1 {
        font-size: 20px;
        font-weight: 700;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .menu-button {
    display: block;
  }
  .sidebar {
    display: none;
  }
  .home-user-list {
    padding-left: 0;
  }
}
