.profile-tabs {
  position: relative;
  display: flex;
  .tab-content-wrap{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    align-items: flex-end;
  }
  .no-data-container {
    display: flex;
    justify-content: center;
    width: 100%;
    .no-data-wrap {
      height: unset;
      img {
        width: 240px;
      }
      .no-data-text {
        font-size: 18px;
      }
    }
  }
  .add-details-btn {
  }
  .details-listing {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 54px;
  }
  .tab-content-cover {
    display: flex;
    justify-content: space-between;
    width: 100%;
    .tab-content {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      width: 50%;
    }
  }
  .single-row-wrap {
    display: flex;
    justify-content: space-between;
    .singleRow-key {
      color: Black;
      font-size: 14px;
      font-weight: 600;
      min-width: 140px;
    }
    .singleRow-value {
      color: rgb(77, 76, 76);
      font-size: 14px;
    }
  }
}
